h2 {
    @include breakpoint(medium up) {
        margin-bottom: 3.5rem;
    }
}
.entry-title {
    float: left;
    text-transform: lowercase;
    // margin-top: 30px;

    @include breakpoint(small only) {
        &::after {
            border-bottom: 2px solid;
            content: "";
            display: block;
            margin: 1.25rem 0;
            width: 50px;
        }  
    }
    @include breakpoint(medium up) {
        &::after {
            background-image: url('../images/wave-line.jpg'), url('../images/wave-line-partial.png');
            background-position: top right, top left;
            background-repeat: no-repeat, repeat;
            background-size: 225px 45px, 80% 45px;
            content: "";
            display: block;
            margin: -0.5rem 0 0 0;
            width: calc(80% + 180px);
            height: 45px;
        }
    }
}
.entry-content {
    p {
        opacity: 0;
    }
    p:first-child {
        font-family: $header-font-family;
        font-size: rem-calc(18);
        line-height: 1.8;
        margin-bottom: 2rem;
    }
    p.fade-in {
        opacity: 1;
        transition: opacity 1s;
    }
    p:last-child {
        margin-bottom: 3rem;
    }
}


.line-it-before::before, .line-it-after::after {
    border-bottom: 2px solid;
    content: "";
    display: block;
    margin: 1.25rem 0;
    width: 50px;
}

.full-line-after:after {
    border-bottom: 2px solid;
    content: "";
    display: block;
    margin: 1.25rem 0;
    width: 100%;
}

