div.page-default {
  @include grid-row();
  margin-top: 3rem;
  
  .main-content {
    @include breakpoint(small only) {
      @include grid-column(12);
    }

    @include breakpoint(medium up) {
      @include grid-column(7);
    }
  }

  .side-content {
    @include breakpoint(small only) {
      @include grid-column(12);
    }

    @include breakpoint(medium up) {
      @include grid-column(5);
      text-align: right;
      margin-top: 10rem;

      img {
        max-width: 370px;
      }
    }
  }
}

