#footer-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  margin-top: rem-calc(60);

  #footer {
    @include grid-row();
    padding: rem-calc(30) 0;

    @include breakpoint(small) {

        @include show-for-only(small);

        color: $white;
        background-color: $blue;
        
        .contact-footer {
            @include grid-column(12);
            h2 {
                font-style: italic;
            }
            a.white { 
                color: $white;
                border-bottom: 1px solid $white;
                &:hover {
                    color: $white;
                }   
            }
        }
    }
    

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
