
.site-header {
    @include grid-row();

    @include breakpoint(small) {
        margin-top: 0px;
        border-bottom: 1px solid $dark-gray;
        
        .site-branding {
            @include grid-column(12);
            margin-top:50px;
        }
        .site-title {
            margin-bottom: 0px;
            white-space: no-wrap;

            a {
                color: inherit;
            }
        }
        .subheader {
            font-family: $header-font-family;
            font-style: italic;
            font-size: rem-calc(19);
            color: $black;
        }

        img.site-icon-mobile {
            height: 25px;
            width: 25px;
        }

    }


    @include breakpoint(medium) {
        margin-top: 150px;
        .site-branding {
            @include grid-column(5);
            text-align: right;
            margin-top: 0px;
        }

        .subheader {
            font-size: rem-calc(24);

        }
    }
}
.main-nav-wrapper {

    display: none;

    @include breakpoint(medium up) {
        display: block;

        @include grid-row();
        margin-top: 2rem;

        .main-nav {

            text-align: right;
            li {
                list-style: none;
                display: inline-block;
                padding: 0.5rem 1rem;
                
                transition: background-color 0.2s linear, color 0.2s linear;

                &:hover {
                    background-color: rgba($blue, .8);
                    color: $white;
                    cursor: pointer;
                }

                &.active {
                    background-color: $blue;
                    color: $white;

                    &:hover {
                        background-color: $blue;
                    }
                }

                a {
                    color: inherit;
                }
            }
        }
    }
}

